.todo-list-container {
  background-color: #242424;
  box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 80px 160px;
  color: #fff;
}

.todo-list-content {
  max-height: 50vh;
  overflow-y: scroll;
}

.title {
  margin-bottom: 64px;
}

.todos-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
